extends ./layouts/common.pug

block css-external
  link(rel="stylesheet", href="/style/index.css")

block content
  .container-fluid 
    .row
      .col-4

      .col-4
        .create-post-box 
          .user-avatar(style="background-image: url(" + user.avatar + ")")
          .create-post-box__open(type="button" data-bs-toggle="modal" data-bs-target="#creatPostModal") What is on your mind, #{user.firstName} ?

        #posts
          each post in posts 
            .post 
              .post__header
                .post__infor
                  .author-avatar.user-avatar(style="background-image: url(" + post.authorAvatar + ")")
                  div 
                    .author-name #{post.authorFirstName} #{post.authorLastName}
                    - var time = (currentTime - post.postTime);
                    - var timeTextsSingular = ['second ago', 'minute ago', 'hour ago', 'day ago', 'month ago','year ago'];
                    - var timeTexts = ['seconds ago', 'minutes ago', 'hours ago', 'days ago', 'months ago','years ago'];
                    - var divs = [1000, 60*1000, 60*60*1000, 24*60*60*1000, 30*24*60*60*1000, 365*24*60*60*1000];
                    - var limits = [60, 60, 24, 30, 12.5, 1000]
                    - var i = 0;
                    while (i < 6) 
                      - var mappedTime = time / divs[i];
                      if (mappedTime < limits[i]) 
                        .post-time #{Math.floor(mappedTime)} #{timeTexts[i]}
                        - break;
                      - i ++;
                .post__text 
                  if (post.text.length < 200) 
                    p 
                      span= post.text
                  else 
                    p.expand-text #{post.text.slice(0, 200)}
                      span.three-dot ... 
                      span.more-text  #{post.text.slice(200, post.text.length)} 
                      span.see-more-btn See more
              .post__photos 
                if (post.photos.length > 0) 
                  if (post.photos.length === 1) 
                    .post__photos-item(style="background-image: url(" + post.photos['0'] + ")")
                  else 
                    .post__photos-col
                      .post__photos-item(style="background-image: url(" + post.photos['0'] + ")")
                    .post__photos-col 
                      .post__photos-item(style="background-image: url(" + post.photos['1'] + ")")
                      if (post.photos.length > 2) 
                        .post__photos-item(style="background-image: url(" + post.photos['2'] + ")" data-remains=(post.photos.length - 3) class=post.photos.length > 3 ? "post__photos-item__remain" : "")
                          if (post.photos.length > 3)
                            .phots__overlay

                  
              .post__footer
                
      
      .col-4

  .create-post-container(class="modal fade" id="creatPostModal" tabindex="-1" aria-labelledby="createPostModalLabel" aria-hidden="true")
    div(class="modal-dialog")
      div.create-post-modal-content(class="modal-content")
        div.create-post-modal-header(class="modal-header")
          h1(class="modal-title fs-5" id="createPostModalLabel") Create Post
          button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
        div.create-post-modal-body(class="modal-body")
          form.create-post__form(action="/" method="post" enctype="multipart/form-data") 
            .mb-3
              textarea.create-post__input(name="createPostText", cols="30", rows="6" placeholder="What is on your mind, " + user.firstName + " ?")
            .mb-3 
              input.create-post__file-input(class="form-control" type="file" id="formFileMultiple" multiple name="photos")
            button.create-post__btn(type="submit" class="btn btn-primary") Post

block body-external-js
  script(src="/js/index.js") 